<web-app>

    <display-name>Unichorn OCSP and Signing  REST Service</display-name>
    <servlet>
        <servlet-name>OCSP REST Service</servlet-name>
        <servlet-class>
            harry.security.responder.resources.UnichornResponder
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Signing REST Service</servlet-name>
        <servlet-class>
            harry.security.responder.resources.SigningResponder
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Timestamp REST Service</servlet-name>
        <servlet-class>
            harry.security.responder.resources.TspHttpServerServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>



    <servlet-mapping>
        <servlet-name>OCSP REST Service</servlet-name>
        <url-pattern>/rest/ocsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signing REST Service</servlet-name>
        <url-pattern>/rest/signing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Timestamp REST Service</servlet-name>
        <url-pattern>/rest/tsp</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
            harry.security.responder.resources.SecurityProviderInitializer
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            harry.security.responder.resources.RequestListener
        </listener-class>
    </listener>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Signing REST Service</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>OCSP REST Service</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>


    </security-constraint>
</web-app>